<div class="content">


  <!-- Welcome -->
  <section>
    <div class="welcome">
      <div class="hero-section row">
        <h1 class="title" [class.in-view]="titleInView">Norbert Gillich</h1>
        <p class="typed" data-typed-items="Frontend Developer, Software Developer, Video Editor"></p>
      </div>

      <div class="row card-container">
        <div class="col title-col">
          <div class="card valami title-card">
            <h2 [innerHTML]="welcomeTitle"></h2>
            <h3 [innerHTML]="welcomeSubtitle"></h3>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="card col about small-card" (click)="scrollToSection('about')">
              <h2 [innerHTML]="aboutCardTitle"></h2>
              <h3 [innerHTML]="aboutCardSubtitle"></h3>
            </div>
            <div class="card col work small-card" (click)="scrollToSection('work')">
              <h2 [innerHTML]="workCardTitle"></h2>
              <h3 [innerHTML]="workCardSubtitle"></h3>
            </div>
          </div>
          <div class="row">
            <div class="card contact" (click)="scrollToSection('contact')">
              <h2 [innerHTML]="contactCardTitle"></h2>
              <h3 [innerHTML]="contactCardSubtitle"></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section id="about">
    <div class="section about-section" [ngClass]="{'in-view': aboutInView}">
      <div class="row">
        <div class="col text">
          <h2 [innerHTML]="aboutTitle"></h2>
          <p [innerHTML]="aboutParagraph1"></p>
          <p [innerHTML]="aboutParagraph2"></p>
          <p [innerHTML]="aboutParagraph3"></p>
          <p [innerHTML]="aboutParagraph4"></p>
        </div>
        <div class="col skills">
          <div class="section-card">
            <h2 [innerHTML]="skillsTitle"></h2>
            <ul>
              <li><strong>Frontend:</strong> Angular, TypeScript, HTML & CSS</li>
              <li><strong>Backend:</strong> Laravel (PHP), Express (Node.js)</li>
              <li><strong>Mobile:</strong> Swift (in progress)</li>
              <li><strong>Database:</strong> MySQL</li>
              <li><strong>Tools:</strong> Git, Firebase, VS Code</li>
              <li><strong>Video Editing:</strong> Final Cut Pro, Motion, Avid Media Composer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> 

  <!-- Work -->
  <section class="work" id="work">
    <div class="section work-section">
      <div class="work-header title">
        <h2 [innerHTML]="workTitle"></h2>
      </div>

      <div class="switch-container">
        <label class="switch">
          <input type="checkbox" [checked]="isVideoEditing" (change)="toggleSwitch()" />
          <span class="slider"></span>
        </label>
        <span>{{ isVideoEditing ? workSwitchEditing : workSwitchDevelopment }}</span>
      </div>

      <div class="work-content" [ngClass]="{ reverse: isVideoEditing }">
        <div class="text">
          <h3 [innerHTML]="isVideoEditing ? workEditingTitle : workDevTitle"></h3>
          <p [innerHTML]="isVideoEditing ? workEditingDesc : workDevDesc"></p>
        </div>

          <div class="projects">
  <a 
    class="card"
    *ngFor="let project of projects"
    [href]="project.link"
    rel="noopener noreferrer"
    #projectCard
  >
    <img [src]="project.image" [alt]="project.title" />
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>
  </a>
</div>


      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="contact-section">
      <div class="contact-header">
        <h2 [innerHTML]="contactTitle"></h2>
        <div class="contact-info">
          <a href="mailto:work@norbertgillich.com">work&#64;norbertgillich.com</a>

          <div class="social-icons">
            <a href="https://github.com/gillichnorbert"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/norbert-gillich-326859301/"><i class="fab fa-linkedin"></i></a>
            <a href="https://instagram.com/gillichnorbert"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <form class="contact-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input [(ngModel)]="name" type="text" name="name" [placeholder]="formName" required>
          <input [(ngModel)]="email" type="email" name="email" [placeholder]="formEmail" required>
          <input [(ngModel)]="subject" type="text" name="subject" [placeholder]="formSubject">
        </div>
        <textarea [(ngModel)]="message" name="message" [placeholder]="formMessage" required></textarea>
        <button type="submit">
          <span>{{ formSend }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 15 12 9 18 15" />
          </svg>
        </button>
        <p *ngIf="success" class="text-success-600 mt-2 text-center">{{ formSuccess }}</p>
      </form>
    </div>
  </section>

<div class="fixed-buttons">
  <button class="lang-switch" (click)="toggleLanguage()">
    {{ actLang }}
  </button>

  <button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollTopButton">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 15 12 9 18 15" />
    </svg>
  </button>
</div>
</div>
