/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

@font-face {
    font-family: 'LondonTube-MABx';
    src: url('/assets/fonts/LondonTube-MABx.ttf') format('truetype'),
}

@font-face {
  font-family: 'HighMount';
  src: url('/assets/fonts/HighMount.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "LondonTube-MABx", sans-serif;
}